




/*------------------------------------*\
    $SITIO
\*------------------------------------*/


html {
	background : $background;
	font-size : fs(normal);
	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : transparent;
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%;
	height: 100%;
}

body {
	margin : 0;
	padding : 0;
	width : 100%;
	background-color : transparent;
	font-family : $basefont;
	line-height : $baselineheight;
	color : $textcolor;
}


.header--home {
	padding-top: $gutterwidth;
	background-image: url("#{$image-dir}/home_bg--small.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	@include respond-to(small) {
		background-position: 0 -150px ;
	}
	@include respond-to(medium) {
		@include center-content(80%);
		display: flex;
		background-image: url("#{$image-dir}/home_bg--big.jpg");
		background-size: cover;
		background-position: center;
		padding-top: $gutterwidth * 2;
	}
	h1 {
		color: $color-black;
		margin-bottom: $gutterwidth * 8;
		@include respond-to(medium) {
			margin-bottom: $gutterwidth * 6;
		}
	}
	p {
		font-size: fs(big);
		span, strong {
			background-color: $color-white;
		}
		@include respond-to(medium) {
			span, strong {
				background-color: transparent;
			}
		}
	}
	&__texts {
		padding:$gutterwidth ($gutterwidth * 3) $gutterwidth $gutterwidth;
		@include respond-to(medium) {
			width: 100%;
			padding: 0 30% 0 0;
			p {
				background-color: $color-white;
				padding: $minigutter;
				box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3)
			}
		}
	}
	&__cta {
		@include respond-to(medium) {
			flex: 0 0 380px;
		}
	}
}

.deal {
	@include max-width;
	font-size: fs(normal);
	position: relative;

	@include respond-to(medium) {
		background-color: $color-white;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			bottom: 0;
			right: 0;
			z-index: 1;
			background-repeat: no-repeat;
			background-image: url("#{$image-dir}/dealone-x1.jpg");
			background-size: cover;
			background-color: red;
			background-position: center;
		}

	}
	&__header {
		text-align: center;
		@include respond-to(medium) {
			text-align: left;
		}
	}
	&__body {
		padding: $padding;
	}
		&__details {
			padding-left: $gutterwidth * 3;
			padding-right: $gutterwidth;
			@include respond-to(medium) {
				padding-left: $gutterwidth * 2;
			}
		}
	&--two {
		@include respond-to(medium) {
			&:before {
				background-image: url("#{$image-dir}/dealtwo-x1.jpg");
			}
		}
	}
}





		.footer {
			text-align: center;

			background-color: $color-darkergrey;
			font-size: fs(small);
			padding: $padding;
			color: $color-lightgrey;
			a, a:visited {
				color: $color-white;
			}
			@include respond-to(medium) {
				@include center-content;
				display: flex;
				p {
					flex: 0 0 250px;
					margin-bottom: 0;
				}
			}
		}

		.dashboard-bg {
			background-color: $color-lightergrey;
		}
.dashboard {
	display: flex;
	flex-direction: column;

	.footer, .topbar {
		flex-shrink: 0;
	}
}
	.stickyfooter {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		&__content {
			flex: 1;
		}
	}





	// Breadcrumbs
	.breadcrumb {
		display: none;
		line-height: 4;
		@include max-width;
		&__item {
			margin-right: $gutterwidth / 2;
			text-decoration: none;
			&:after {
				content: "/";
				margin-left: $gutterwidth / 2;
				text-decoration: none;
				color: $color-grey;
			}
			&:visited, &:hover {
				&:after {
					text-decoration: none;
				}
			}
			&:last-child {
				font-weight: 700;
				color: $textcolor;
				&:after {
					content: none;
				}
			}
			&:hover {
				text-decoration: none;
				&::after {
					text-decoration: none;
				}
			}
		}
		@include respond-to(medium) {
			display: flex;
		}
	}



.beta {
	position: fixed;
	bottom: 76px;
	right: 0;
	width: 320px;
	padding: $gutterwidth;
	background-color: $color-white;
	box-shadow: 0 0 1px 2px rgba(0, 0, 0, .2);
	font-size: fs(small);
	line-height: 1.5;
}