@if $include-textures == true{





/*------------------------------------*\
    $TEXTURES
\*------------------------------------*/



%alert, .alert {
	margin-bottom : $baselineheight;
	padding : 0 ($padding / 4);
	background-color : $color-alert;
	border : $alertborderwidth $alertborderstyle $alertbordercolor;
	font-family : $basefont;
	font-size: fs(small);
	color : $alerttext;
	border-radius: $radius;
	position: relative;

	.alert--heading {
		color : inherit;
	}

	.close {
		position : absolute;
		top : -2px;
		right : 2px;
		float : right;
		font-size: fs(small);
		font-weight : bold;
		line-height : 18px;
		color : inherit;
	}
}

	.alert--success {
		@extend %alert;
		background-color : $alertsuccesscolor;
		border-color : $alertsuccessborder;
		color : $alertsuccesstext;
	}

	.alert--warning {
		@extend %alert;
		background-color : $alertwarningcolor;
		border-color : $alertwarningborder;
		color : $alertwarningtext;
	}

	.alert--error {
		@extend %alert;
		background-color : $alerterrorcolor;
		border-color : $alerterrorborder;
		color : $alerterrortext;
	}

	.alert--info {
		@extend %alert;
		background-color : $alertinfocolor;
		border-color : $alertinfoborder;
		color : $alertinfotext;
	}

// alert block

	.alert--block {
		@extend %alert;
		background-color: $color-white;
		padding-top : $padding / 2;
		padding-bottom : $padding / 2;
		padding-left: $padding * 3;
		box-shadow: inset 4px 0 0 0 $color-warning;

		.alert--heading {
			margin-bottom : $baselineheight / 8;
			font-size : inherit;
			font-weight : bold;
		}
		&__icon {
			position: absolute;
			top: $padding;
			left: $padding;
			color: $color-warning;
		}
	}

// BADGES ====================================================

%badge {
	padding: 0.1em 3em 0.1em 1em;
	margin-right: 3px;
	font-size: fs(normal);
	white-space : nowrap;
	border: 1px solid $color-secondary;
	border-radius: $radius;
	color : $badgecolor;
	background-color : $badgebackground;
	@include transition(background-color .25s 0 linear);
	position: relative;
	display: inline-block;

	&:hover {
		color : $badgecolor;
		text-decoration : none;
		cursor : pointer;
		&:after {
			background-color: $color-error;
			border: 1px solid $color-error;
		}
	}
	&:after {
		content: "x";
		position: absolute;
		top: -1px;
		right: -1px;
		bottom: -1px;
		font-size: fs(small);
		text-align: center;
		background-color: lighten($color-error, 20);
		padding: 0 1em;
		border: 1px solid lighten($color-error, 20);
		color: $color-white;
	}
}

	.badge {
		@extend %badge;
	}
	.badge--primary {
		@extend %badge;
	}
	.badge--error {
		@extend %badge;
		color : $color-error;
	}

	.badge--warning {
		@extend %badge;
		color : $color-warning;
	}

	.badge--success {
		@extend %badge;
		color : $color-success;
	}

	.badge--info {
		@extend %badge;
		color : $color-info;
	}


// .airportBadge {
// 	width: 100%;
// 	margin-bottom: $padding * 2;
// 	box-shadow: 15px 15px 0 0 rgba(0, 0, 0, .05);
// 	border-top-right-radius: $radius * 4;
// 	border-bottom-right-radius: $radius * 4;
// 	overflow: hidden;
// 	border-left: 1px dashed $color-lightgrey;
// 	border-right: 1px $color-white solid;
// 	border-bottom: 1px $color-white solid;
// 	position: relative;
// 	display: inline-block;
// 	&:hover {
// 		.airportBadge__action {
// 			transform: scale(2);
// 		}
// 	}
// 	@include respond-to(small) {
// 		max-width: 210px;
// 	}

// 	&__header {
// 		background-color: #4D8BB3;
// 		color: lighten(#4D8BB3, 40);
// 		padding: ($padding / 2) $padding;
// 		font-size: fs(big);
// 		.iconairplane {
// 			font-size: fs(big-x);
// 			margin-left: $padding;
// 			color: $color-white;

// 		}
// 	}
// 	&__icon {
// 		color: $color-black;
// 		width: 100%;
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;
// 		padding: ($padding / 2) $padding;
// 		background-color: $color-white;
// 		font-family: 'PT Sans Narrow', sans-serif;
// 		font-size: fs(big-x);
// 		letter-spacing: 3px;
// 		font-weight: bold;

// 	}
// 	&__info {
// 		padding: ($padding / 2) $padding;
// 		background-color: darken($color-lightergrey, 7);
// 		margin: 0;
// 		font-family: 'PT Sans Narrow', sans-serif;
// 		&__header {
// 			color: darken($color-lightgrey, 10);
// 			text-transform: uppercase;
// 			font-size: fs(x-small);
// 			letter-spacing: 3px;
// 			line-height: 1.4;
// 		}
// 		&__content {
// 			text-transform: uppercase;
// 			font-size: fs(normal);
// 			font-weight: bold;
// 			letter-spacing: 1px;
// 			line-height: 1;
// 			text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
// 			margin-bottom: $gutterwidth / 2;
// 			@include respond-to(medium) {
// 				height: 50px;
// 			}
// 		}
// 	}
// 	&__action {
// 		padding:0 ($padding / 2);
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;
// 		background-color: $color-warning;
// 		height: 49px;
// 		width: 49px;
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		transition:all .1s ease-in-out;
// 		@include respond-to(medium) {
// 			height: 25px;
// 			width: 25px;
// 			background-color: transparent;
// 		}
// 	}
// 		&__delete {
// 			background-color: transparent;
// 			box-shadow: none;
// 			border: none;
// 			color: $color-white;
// 			border-radius: 100%;
// 			font-size: fs(huge);
// 			cursor: pointer;
// 			@include respond-to(medium) {
// 				font-size: fs(small);
// 				color: $color-warning;
// 			}
// 		}
// }
.airportBadge {
	flex: 0 0 300px;
	position: relative;
	background-color: $color-airportBadge;
	color: $color-white;
	margin-bottom: $gutterwidth;
	padding: $gutterwidth / 2;
	border-top-right-radius: $radius * 4;
	border-top-left-radius: $radius * 4;
	overflow: hidden;
	border-left: 1px solid $color-lightgrey;
	border-right: 1px $color-white solid;
	border-bottom: 1px solid $color-lightgrey;
	overflow: hidden;
	margin-right: $gutterwidth;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .5);

	&__description {
		margin: 0;
		font-size: fs(small);
		color: lighten($color-airportBadge, 40);
		line-height: 1;
	}
	&__actions {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: z(above);
		padding: 0 ($gutterwidth / 4);
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: darken($color-airportBadge, 20);
		transform: translateX(100%);
		transition: all .1s ease-in-out;
	}
		&__delete {
			background-color: transparent;
			box-shadow: none;
			border: none;
			color: $color-warning;
			border-radius: 100%;
			font-size: fs(big-x);
			cursor: pointer;
		}
	&:hover &__actions {
		transform: translateX(0);
	}


}

// Web Colours
::-moz-selection {
	background-color : lighten($color-brand, 65%);
	color : $color-brand;
	text-shadow : none;
}

::selection {
	background-color : lighten($color-brand, 65%);
	color : $color-brand;
	text-shadow : none;
}

} // endif