.topbar {
    display: flex;
    background-color: $color-darkgrey;
    @include center-content;
    padding-top: $padding / 4;
    padding-bottom: $padding / 4;
    padding-left: $gutterwidth;
    padding-right: $gutterwidth;
    align-items: center;
    color: $color-white;
}

    .topbar__logo {
        img {
            width: 12.5em;
            height: auto;
        }
    }
    .topbar__icon, .topbar__icon:visited {
        color: $color-white;
        font-size: fs(huge);
    }