/*------------------------------------*\
    $BLOCKS
\*------------------------------------*/





.block {
    border-radius: $radius * 2;
    background-color: $color-white;
    @include respond-to(medium) {
        box-shadow: 0 3px 6px 1px rgba(0,0,0,.2);
    }
}
    .block--payment {
        width: 100%;
        border: none;
        .block__title {
            line-height: 4;
        }
        @include respond-to(medium) {
            max-width: 580px;
        }
    }





    .block__title {
        border-bottom: 1px solid $color-border;
        font-size: fs(big);
        margin-bottom: $padding;
        padding: 0 $padding;
        line-height: 3;
        font-weight: bold;
        text-transform: uppercase;
    }
    .block__body {
        padding:0 $padding $padding $padding;
    }
    .block__footer {
        padding: $padding;
        background-color: $color-lightergrey;
        text-align: right;
        &--sides {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }


// Blocks sizes

.block--small {
    @include max-width(450px);
    width: 100%;
}

.block--medium {
    @include max-width(580px);
    width: 100%;
}




// Block centered
.block--centered {
    margin-left: auto;
    margin-right: auto;
}