/*------------------------------------*\
    $CARDS
\*------------------------------------*/
/*
*
* Cards used to show steps
*/
.cards--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include respond-to(medium) {
        justify-content: space-between;
    }
}
    .card--plan {
        border-bottom: 1px solid $color-lightgrey;
        margin-bottom: $padding * 2;
        padding: 0;
        width: 90%;
        border-left: 1px solid $color-lightgrey;
        border-right: 1px solid $color-lightgrey;
        display: flex;
        flex-direction: column;
        .btn--card {
            @extend .btn--cta;
            line-height: 3.5;
            background-color: lighten($color-cta, 20);
            &:hover {
                border-color: $color-white;
                border-top-color: $color-cta;
            }
        }
        @include respond-to(medium) {
            width: 30%;
        }
        .card__title {
            color: $color-white;
            text-transform: uppercase;
            line-height: 3.5;
            background-color: $color-grey;
            letter-spacing: 3px;
            text-align: center;
        }
        .card__body {
            padding:0 $padding 0 $padding;
            flex-grow: 1;
        }
            .cards__title {
                font-size: fs(big);
                color: $color-brand;
                margin-bottom: $padding;
            }
            .cards__text {
                margin-bottom: $padding;
                font-weight: 700;
            }
        .card__headtext {
            position: relative;
            text-align: center;
            border-bottom: 1px solid $color-lightgrey;
            padding: ($padding) 0;
            margin-bottom: $padding;
        }
            .card__price {
                font-size: fs(huge-x);
                font-weight: bold;
                position: relative;
                &--free {
                    font-size: fs(huge);
                }
            }
                .card__currency {
                    position: absolute;
                    top: 0;
                    left: -1em;
                    font-size: fs(normal);
                    font-weight: normal;
                }
        &--pick {
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
            order: -1;
            .btn--card {
                background-color: $color-cta;
            }
            .card__title {
                background-color: $color-black;
            }
            @include respond-to(medium) {
                order: 0;
            }
        }
    }

