@if $include-collapse == true{




/*------------------------------------*\
    $collapseS
\*------------------------------------*/

.collapse {

    &__item {
        padding-left: $gutterwidth * 2;
        position: relative;
        overflow: hidden;
    }
        &__title {
            font-size: fs(big);
            font-weight: 600;
            text-decoration: underline;
        }
        &__text {
            color: $textcolor;
            display: block;
            max-height: 0;
            text-indent: 100%;
            margin-bottom: $gutterwidth;
            &--flex {
                display: flex;
                text-indent: 0;
                overflow: hidden;
            }
        }
        .iconsvg {
            position: absolute;
            left: 0;
            top: 5px;
        }




    &__radio {
        display: none;
        &:checked {
            ~ {
                .collapse__title {
                    color: $color-brand;
                }
                .collapse__text {
                    max-height: 8000px;

                    text-indent: 0;
                }
                .iconsvg {
                    transform: rotate(-180deg);
                    fill: $color-brand;
                }
            }

        }
    }
}

} // end if
