.feature {
    max-width: 300px;
    display: flex;
    margin-bottom: $gutterwidth * 2;
    svg {
        flex: 0 0 auto;
        font-size: fs(huge-x);
        @extend .iconsvg;
        margin-right: $gutterwidth / 2;
        color: $color-grey;
    }
}
.arrow {
      position: relative;
      width: 100%;
      margin-bottom: $padding * 2;
      @include respond-to(medium) {

        display: none;
      }

    }
    .arrow__item {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 42px;
        height: 16px;
        opacity: 0;
        &::before,
        &::after {
            content: "";
            width:21px;
            height: 2px;
            background-color: $color-brand;
            border-radius: 2px;
            display: inline-block;
        }

        &::before {
        transform: rotate(45deg) translateX(25%)
        }

        &::after {
        transform: rotate(-45deg) translateX(-25%)
        }

        &:nth-child(1) {
        top: -50px;
        opacity: 1;
        animation: arrow2 1s ease 0s infinite;
        }

        &:nth-child(2) {
        top: -25px;
        animation: arrow1 1s ease 0.25s infinite;
        }
    }

    @keyframes arrow1 {
        from {
        opacity: 0;
        top: -25px;
        }

        to {
        opacity: 0;
        top: 0px;
        }

        50% {
        opacity: 1;
        }
    }

    @keyframes arrow2 {
        from {
        opacity: 0;
        top: -35px;
        }

        to {
        opacity: 0;
        top: -10px;
        }

        50% {
        opacity: 1;
        }
    }
