
.flag-container {

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: $gutterwidth * 2;
        width: 100%;

}
.input-flag {
    position:relative;
    flex:0 0 33%;
    margin-bottom: $gutterwidth;
    line-height: 1;
    text-align: center;
    color: $color-grey;
    transition: all $hovertransition ease-in;
    border-radius: $radius;
    font-size: fs(small);
    padding: 1px;

    img {
        max-width: 50px;
        margin-right: .5em;
        display: block;
        margin: 0 auto ($gutterwidth / 3);
    }
    &:hover {
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
    }
    &:visited {
        color: $color-grey;
    }
  }

        .flags__title {
            margin-bottom: $padding;
        }




.flaglink {
    display: inline-block;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    background-color: grey;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 0 4px $color-white,
                0 0 1px 5px rgba(0, 0, 0, .1);
    margin-right: $gutterwidth;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 1.5em;
        height: 1.5em;
        background-image: url("#{$image-dir}/flags/1x1/us.svg");
        background-color: $color-white;
        background-repeat: no-repeat;
        background-size: 100%;
    }


    $languages: au us cn jp de es fr ru gb;

    @each $i in $languages {
        &.#{$i} {
            &:after {
                background-image: url("#{$image-dir}/flags/1x1/#{$i}.svg");
            }
        }
    }
}