@if $include-grid == true{




/*------------------------------------*\
    $grid
\*------------------------------------*/


.grid {
	display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-start;
	flex-direction: row;
}
	.justify-spacearound {
		justify-content: space-around;
  	}
	.justify-spacebetween {
			justify-content: space-between;
		}
	.justify-center {
		justify-content: center;
	}
	.align-start {
		align-items: flex-start;
	  }
	.align-center {
		align-items: center;
  	}
  	.flex-right {
    	margin-left: auto;
  	}
  	.flex-wrap {
    	flex-wrap: wrap;
  	}


	@for $i from 1 to ($grid-size + 1) {
		// Total size (We would need to substract the margin to avoid wrapping);
		$width : 100 / $grid-size * $i * 1%;

		.grid--item-#{$i} {
			$margin : $gap / 2;
			@if($i == 1) {

				flex:0 0 calc(25% - #{$margin});
			}
			@else {
				flex:0 0 calc(100% - #{$margin});

			}
			@include respond-to(small) {
				flex:0 0 calc(#{$width} - #{$margin});

			}
		}
	}




	// Faux columns
	.faux {
		display: flex;
		@include max-width;
		flex-direction: column;
		@include respond-to(medium) {
			flex-direction: row;
			padding-left: 0;
			padding-right: 0;
			margin-bottom: $padding * 2;
		}
	}
		.faux__sidebar {
			width: 100%;
			background-color: $color-white;
			border-radius: $radius * 2;
			margin-right: $padding * 3;

			@include respond-to(medium) {
				flex:0 0 400px;
				min-height: 50vh;
			}
		}
		.faux__main {
			background-color: $color-white;
			width: 100%;
			align-self: flex-start;
			border-radius: $radius * 2;
			@include respond-to(medium) {
				flex-grow: 1;
			}
		}

	// Full width content block
	.pagesection {
		@include max-width;
		background-color: $color-white;
	}
} // end if
