.login {
    transform: translateY(-110%);
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: z(over);
    background-color: $color-lightergrey;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: transform .1s ease-in;
    padding: 0 $gutterwidth;
    .btn {
        width: 100%;
    }
    //For bigger resolutions
    @include respond-to(medium) {
        position: relative;
        background-color: transparent;
        transform: none;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        padding: 0;

        &__inputs {
            display: flex;
        }
        .btn {
            padding-right:1.5em;
            padding-left: 1.5em;
            font-size: fs(small);
            line-height: 2;
            width: auto;
        }

    }


    &__switch {
        &__input {
            display: none;
            &:checked {
                ~ .login {
                    transform: translateY(0);
                    }
            }
        }
        &__label {
            @extend .btn;
            @extend .btn--small;
            position: absolute;
            right: $gutterwidth;
            top: 8px;
            @include respond-to(medium) {
                display: none;
            }
        }
    }
    &__inputs {
        > input {
            margin-bottom: $gutterwidth / 2;
            @include respond-to(medium) {
                margin-bottom: 0;
                height: 2rem;
            }
        }
    }

}