@if $include-modals == true{



/*------------------------------------*\
    $MODALS
\*------------------------------------*/

.modal {
    z-index: z(goku);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    filter: Alpha(opacity=0);
    pointer-events: none;
    background: rgba(0,0,0,.5);

}

// .modal--remove-inputs {
//     display: none;
//     &.modal--isopen {
//         display: block;
//     }
// }

.modal--isopen {
    opacity: 1;
    pointer-events: auto;
}
    .modal__container {
        background-color: $color-white;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 500px;
        overflow: auto;
        max-height: 80vh;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        color: $textcolor;
        transform: translate(-50%, -50%);
    }


        .modal__title {

            padding: ($gutterwidth / 2) $gutterwidth;
            font-size: fs(big);
            font-weight: normal;
            border-bottom: 1px solid $color-lightgrey;
        }
            .modal__close {
                margin-left: auto;
                margin-top: 3px;
                margin-right: $minigutter;
                line-height: 1.5;
                cursor: pointer;
                padding: 0;
                background-color: transparent;
                border: none;
                box-shadow: none;
                color: $textcolor;
                &:hover {
                    background-color: transparent;
                }
            }
        .modal__header {
          padding: $minigutter;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid $color-lightgrey;

        }
        .modal__body {
            padding:$gutterwidth;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .modal__actions {
            padding: 0 $gutterwidth ($gutterwidth / 2);
            text-align: right;
            padding: $minigutter;
            background-color: $color-lightergrey;
        }




    // Modal Variations
    .modal--large {
        .modal__container {
            max-width: 80%;
        }
    }
    .modal--medium {
        .modal__container {
            max-width: 750px;
        }
    }
    .modal--huge {
        .modal__container {
            max-width: 95%;
        }
    }

    .modal--info {
        .modal__container {
            max-width: 500px;
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, .3);
        }
            .modal__actions {
                text-align: center;
                padding: $gutterwidth / 2;
                display: flex;
                [class^="btn"], [class*=" btn"] {
                   flex: 1;
                   margin: 0 5px;
                }
            }
            .modal__title {
                @extend .alert--warning;
                border: none;
                font-size: fs(normal);
                font-weight: bold;
                text-align: center;
                margin-bottom: 0;
                line-height: 2.5;
                padding: ($gutterwidth / 4) $gutterwidth ($gutterwidth / 4) ($gutterwidth / 4);
                flex-basis: 100%;
                .iconsvg {
                    font-size: fs(huge);
                    float: left;
                }
            }
            .modal__body {
                background-color: $color-white;
                padding:( $gutterwidth * 2) $gutterwidth;
            }
    }


    .modal--overflows .modal__container {
      overflow: visible;
    }

    .modal--fixed-header-footer {
        .modal__title {
            position: absolute;
            top: 0;
            z-index: z(above);
        }
        .modal__container { overflow: hidden; }
        .modal-content {
            overflow-y: scroll;
            padding-top: 70px;
            padding-bottom: 80px;
        }
        .modal__actions {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 80px;
        }
    }

    .modal--sticky-header {
        .modal__header {
            background: white;
            position: sticky;
            top: 0;
            z-index: z(default);
        }
    }

    .modal--sticky-header {
        .modal__header {
            background: white;
            position: sticky;
            top: 0;
            z-index: z(default);
        }
    }

    //Not actually a modal, but makes the current element behave like a modal.
    .cc-pseudomodal {
        z-index: z(modal);
        position: absolute;
    }
        .cc-pseudomodal__lightbox {
            content: "";
            z-index: z(goku);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,.5);
        }

    .no-modal [data-dismiss="modal"] { display: none; }

    // Modal blocks (inside body)
    .modal-block {
        display: flex;
        &.space-between { justify-content: space-between;}
        &.center { align-items: center; }
    }



} // If
