@if $include-tabs == true{





/*------------------------------------*\
    $TABLAS
\*------------------------------------*/



// Tab Container
.tabs {
    position: relative;
    margin-left: -$padding;
    display: flex;
    flex-wrap: nowrap;
    @include respond-to(medium) {
        flex-wrap: wrap;
    }
}
.tablist {
    flex:0 0 25vw;
    position: relative;
    list-style-type: none;
    overflow: hidden;
    @include respond-to(medium) {
        display: flex;
        flex:0 0 100%;
    }

}
    .tablist__item {
        padding: $padding  ($padding / 2);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;
        font-size: fs(small);
        cursor: pointer;
        color: $color-white;
        border-bottom: 2px solid $color-lightgrey;
        background-color: $color-lightgrey;
        border-bottom: 1px solid $color-white;


        @include transition(background-color $hovertransition ease-in);

        &:last-child {
            border-bottom: none;
        }
        @include respond-to(medium) {
            border-bottom: none;
            background-color: $color-white;
            color: $color-lightgrey;
            padding: $padding ;
            border-right: 1px solid $color-lightergrey;
            border-bottom: 1px solid $color-lightergrey;
            border-top: 1px solid $color-lightergrey;
            &:last-child {
                border-bottom: 1px solid $color-lightergrey;
            }
        }
        &:hover {
            background-color: darken($color-white, 5);
            color: $color-grey;
        }
        &:focus {
            outline: 1px dotted $color-grey;
            background-color: darken($color-white, 5);
        }
        &[aria-selected=true] {
            background-color: $color-white;
            color: $color-grey;
            box-shadow: none;
            border-left: 4px solid $color-brand;

            @include respond-to(medium) {
                border-left: none;
                background-color: $color-lightergrey;
            }
        }
    }
    [aria-hidden='true'] {
        display: none;
    }




    .tablist__tab {
        flex: 0 0 75vw;
        padding-left: $padding / 2;
        @include respond-to(medium) {
            background-color: $color-lightergrey;
            padding: $padding;
            flex: 0 0 100%;

        }
    }

} // endif