

/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/
/*
*
* Selectors repeated constantly
*/

/*
 * Classes for font- sizes, you can check them in Settings.scss
 * Same name of the variables with the `font-` prefix

		.font-x-small {
			font-size: .9rem;
		}


 */

@each $name, $value in $size-vars {
    .font-#{$name} {
        font-size: $value * 1rem;
        line-height: 1.5;
    }
}

/*
 * Classes for colors, you can check them in Settings.scss
 * Same name of the variables in the map.

		.color-white {
			color: white;
		}


 */

 @each $name, $value in $colors-map {
    .#{$name} {
        color: $value;
    }
    .bg-#{$name} {
        background-color: $value;
    }
}


.max-width {
    @include max-width;
}
.center-content {
    @include center-content;
}



.float-right{
    float:right;
}

// Para cuando queremos tener varios elementos en inline-block:
.inline-block {
    display: inline-block;
}
.display-block {
    display: block;
}



// Diferentes especificaciones para márgenes
.nomargin-bottom {
    margin-bottom: 0;
}
.margin-bottom {
    margin-bottom: $padding;
}
.margin-bottom--mini {
    margin-bottom: 3px;
}
.margin-bottom-xl {
    margin-bottom: $padding * 2;
}
.margin-sides {
    margin-left: $padding;
    margin-right: $padding;
}

.margin-bottom-xxl {
    margin-bottom: $padding * 4;
}





.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}



.nopadding {
    padding: 0;
}
.padding {
    padding: $padding;
}
.padding-sides {
    padding-left: $padding;
    padding-right: $padding;
}
.padding-sides-xl {
    padding-left: $padding * 2;
    padding-right: $padding * 2;
}
.padding-top {
    padding-top: $padding;
}
.padding-right {
    padding-right: $padding;
}
.padding-left {
    padding-left: $padding;
}
.padding-section {
    padding-top: $gutterwidth;
    padding-bottom: $gutterwidth;
    @include respond-to(medium) {
        padding-top: $gutterwidth * 3;
        padding-bottom: $gutterwidth * 3;
    }
}



.line-through {
    text-decoration:line-through;
}






.display-block {
    display: block;
}



.relative {
    position: relative;
}




.has-separator {
    > * {

    }

}




.border-bottom {
    border-bottom: 1px solid $color-lightgrey;
}




/*------------------------------------*\
    $PLACEHOLDERS
\*------------------------------------*/
// Scss placeholder



%text-overflow {
	overflow : hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
}

  /**
  * The ghost, nudged to maintain perfect centering
  */
%vcenter {
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}

  /**
  * Escondemos el texto solo VISUALMENTE
  */
%hide-text {
	position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden
}
.hide-sr {
    @extend %hide-text;
}

  /**
  * Escondemos el texto de VISUALMENTE y SCREENREADERS
  */
%hidden {
	display : none !important;
	visibility : hidden;
}
.hidden {
    @extend %hidden;
}
  /**
  * Escondemos pero mantenemos layout.
  */
%invisible {
	visibility : hidden;
}


  /**
  * Visualmente escondido, pero se puede detectar con teclado (focus).
  */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	position : static;
	clip : auto;
	height : auto;
	width : auto;
	margin : 0;
	overflow: visible;
}


  /**
  * Clear floats.
  * http://bit.ly/1e3YaBH
  */
%clearfix {
	&:after{
        content:"";
        display:table;
        clear:both;
    }
}





// Autocomplete
.autocomplete {
    background-color: $color-white;
    border: 1px solid $color-lightergrey;
    // box-shadow: 0 1px 4px 0px $color-lightgrey;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
    border-top: 2px solid $color-brand;
    margin-bottom: $padding;
    display: none;
}
    .autocomplete__item {
        line-height: 1;
        cursor: pointer;
        padding: ($padding / 2) $padding;
        border-bottom: 1px solid $color-lightergrey;
        &:hover {
            background-color: lighten($color-secondary, 20);
        }
    }
    .autocomplete__item--added {
        color: $color-lightgrey;
        cursor: not-allowed;
        small {
            color: $color-lightgrey;
        }
        &:hover {
            background-color: $color-white;
        }
    }



.baseheadingfont {
    font-family: $baseheadingfont;
}

.page-header {
    font-family: $altfont;
}





.iconsvg {
	/* Flow with text content */
	display: inline-block;
	/* Inherit the parent text color */
	fill: currentColor;
	height: 1em;
	width: 1em;
	vertical-align: middle;
	position: relative;
	top: -0.0725em;
	overflow: hidden;
	pointer-events: none;
}


.section-sep {
    position: relative;
    &:after {
        background-image: linear-gradient(135deg, $background 25%, rgba(0, 0, 0, 0) 25%),
                          linear-gradient(225deg, $background 25%, rgba(0, 0, 0, 0) 25%);
        background-position: 50%;
        right: 0;
        left: 0;
        top: 100%;
        z-index: 10;
        display: block;
        height: 90px;
        background-size: 50px 100%;
        position: absolute;
        content: '';
        pointer-events: none;
    }
}

.centered-body {
    @include respond-to(medium) {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

.page-header {
        line-height: 5;
        font-size: fs(big);
        padding-left: $padding / 2;
        text-transform: uppercase;
        color: lighten($color-grey, 30);
    @include respond-to(medium) {
        font-size: fs(big-x);
        @include center-content;
        color: $textcolor;
    }

}



.zonemap {
    flex: 0 0 25%;
    text-align: center;
    padding: $padding;
    color: $color-white;
    background-color: rgba(0, 0, 0, .001);
    transition: background-color .5s ease-in;
    &:hover {
        background-color: rgba(0, 0, 0, .8);
        cursor: pointer;
    }
}


.ss {
    display: flex;
    align-items: center;
    background-color: blue;
    padding: ($gutterwidth / 2) $gutterwidth;
    border-radius: 3px;
    color: $color-white;
    &:hover, &:visited {
        text-decoration: none;
        color: $color-white;
    }
    .iconsvg {
        margin-right: $gutterwidth / 2;
        font-size: fs(big);
    }
    &--facebook {
        background-color: #3B5998;
    }
    &--instagram {
        background-color: #e4405f;
    }
}
.ccicons {
    text-align: center;
    img {
        max-width: 40px;
    }
}