// With Checkmarks
.checklist {
	padding: 0;
	margin: 0;
	list-style:none;
}
	.checklist__item {
		position: relative;
		padding-left: 2em;
		margin-bottom: $padding / 2;
		text-align: left;
		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			top: 3px;
			left:0;
			height: 1.3em;
			width: 1.3em;
			background-image: url('/resources/icons/checkmark.svg');
			background-size: contain;
			background-repeat: no-repeat;
			color: $color-success;
		}
		&[aria-disable="true"] {
			color: $color-lightgrey;
			&:before {
				background-image: url('/resources/icons/minus.svg');
			}
		}
    }

.hor-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}