@if $include-buttons == true{





/*------------------------------------*\
    $BOTONES
\*------------------------------------*/
/*
 * Definimos los botones y sus variantes
 */


 /**
 * .btn es la clase principal para definir un botón
 */
%btn {
    display: inline-block;
    transition: all .1s ease;
    font-weight: 600;
	line-height: 2.5;
	color: $buttoncolor;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5px;
	vertical-align: middle;
	font-size: fs(normal);
	white-space: nowrap;
	background-color: $buttonbackground;
    border: $buttonborderwidth solid $buttoncolor;
	cursor: pointer;
	margin:0;
	padding-top:   0;
   	padding-bottom:0;
   	padding-right:$gutterwidth * 2;
    padding-left: $gutterwidth * 2;

	border-radius: $radius;
    transition: all $hovertransition ease-in;

	/**
 	* Nadie quiere un botón con texto subrayado cuando
 	* hacemos hover.
 	*/


	&:active,
    &:focus{
        outline:none;
    }
    &:visited {
	color: $buttoncolor;
    }
    &:hover {
		text-decoration: none;
        color: $color-white;
        background-color: $buttoncolor;
	}
}


.btn {
    @extend %btn;
}
/*------------------------------------*\
    $BOTONES-VARIANTES
\*------------------------------------*/
/**
 * Variantes de los botones: color para dar sensaciones.
 *
 */


/**
* Inputs con estilo de botones
*/
input[type="submit"].btn:hover {
	border-color: $buttonbordercolor;
}


/**
* Botón no disponible
*/
.btn--disabled {
    @extend %btn;
    @include opacity(.5);
	cursor: not-allowed;
    background-color: $color-lightergrey;
    color: $color-grey;
}




/**
* Secondary button
*/
.btn--secondary {
    @extend %btn;
    background-color: lighten($color-lightergrey, 5);
    border: 1px solid $color-lightgrey;
    color: $color-grey;
    &:hover {
        background-color: darken( $color-lightergrey, 5);
        color: $color-grey;
    }
    &:visited {
        color: $color-grey;
    }
}






/**
* Botón de Info
*/
.btn--cta {
    @extend %btn;
    color: $color-white;
    background-color: $color-cta;
    border: 1px solid $color-cta;
    line-height: 3.5;
    &:visited {
        color: $color-white;
    }
    &:hover {
        color: $color-cta;
        background-color: $color-white;
        border: 1px solid $color-cta;
    }
}




/**
* Botón de Error
*/
.btn--error {
    @extend %btn;
	color: $color-error;
	&:hover {
        color: $color-error;
	}
	&:visited {
		color: $color-error;
	}
}




/**
* Botón de advertencia
*/
.btn--warning {
    @extend %btn;
    background-color: $alertwarningcolor;
    color: $color-warning;
    border-color: $alertwarningborder;
    &:visited {
        color: $color-warning;
    }
    &:hover {
        color: $alertwarningcolor;
        background-color: $color-warning;
        border-color: $color-warning;
    }
}




/**
* Botón de OK
*/

.btn--success {
    @extend %btn;
    color: $color-success;
    &:hover {
        color: $color-success;
    }
    &:visited {
        color: $color-success;
    }
}



/**
* Botón principal
*/

.btn--primary {
    @extend %btn;
	color: $color-brand;
	&:hover {
		color: $color-brand;
	}
	&:visited {
		color: $color-brand;
	}
}





/*------------------------------------*\
    $BOTONES-TAMAÑOS
\*------------------------------------*/
/**
 * Variantes de los botones por tamaño.
 *
 */

.btn--mini{
    padding-right:0.5em;
    padding-left: 0.5em;
    line-height:1.5;
    font-size: fs(x-small);
}

.btn--small{
    padding-right:1.5em;
    padding-left: 1.5em;
    font-size: fs(small);
    line-height: 2;
}

.btn--large{
    padding-right:3em;
    padding-left: 3em;
    line-height:3;
    font-size: fs(big);
}

.btn--full {
    width: 100%;
    &[type="submit"] {
        width: 100%;
    }
}




/*------------------------------------*\
    $BOTONES-GRUPOS
\*------------------------------------*/
/**
 * Con esta clase podemos agrupar los botones
 * en grupos horizontales.
 *
 */
.btn-group {
	position: relative;
    @extend %clearfix;
    [class^="btn--"], [class*=" btn--"] {
        position: relative;
        border-radius: 0;
        float: left;
        margin-left: -1px;
        &:first-child {
            margin-left: 0;
            @include border-radius(0, 0, $radius, $radius);
        }
        &:last-child {
            @include border-radius($radius, $radius, 0, 0);
        }
    }
}

.btn-row {
    [class^="btn"], [class*=" btn"] {
        width: 100%;
        &:first-child {
            margin-bottom: $padding;
        }
    }
    @include respond-to(small) {
        display: flex;
        flex-wrap: wrap;
        [class^="btn"], [class*=" btn"] {
            flex: 1 0 auto;
            margin-right: $padding / 2;
            margin-left: $padding / 2;
            margin-bottom: $gutterwidth;
            flex: 1;
            width: 0; // Force equal-width columns
            margin-right: 10px;
        }
    }
}


} // endif