



/*------------------------------------*\
    $ELEMENTOS-FIGURE
\*------------------------------------*/
figure {
	margin-bottom : $baselineheight;

	img {
		margin-bottom : $baselineheight / 4;
	}

	figcaption {
		display : block;
		font-weight : normal;
		font-style : normal;
		color : $color-grey;
	}
}