




/*------------------------------------*\
    $FORMS
\*------------------------------------*/

form {
	margin : 0;

	fieldset {
		margin-bottom : $baselineheight;
		padding : 0;
		border-width : 0;
	}

	legend {
		display : block;
		width : 100%;
		margin-bottom :$padding / 2;
		padding : 0;
		color : $textcolor;
		border : 0;
		text-transform: uppercase;
		white-space : normal;

		small {
			font-size: fs(x-small);
			color : $color-lightgrey;
		}
	}

	p {
		margin-bottom : $baselineheight / 2;
	}

	ul {
		list-style-type : none;
		margin : 0 0 $baselineheight 0;
		padding : 0;
	}

	br {
		display : none;
	}
}

label,
input,
button,
select,
textarea {
	font-size: fs(normal);
	border-radius: $radius;
	vertical-align : baseline;
}

input,
button,
select,
textarea {
	font-family : $basefont;
}

label {
	display : inline-block;
	margin-bottom : 0;
	font-size: fs(normal);
	font-weight : bold;
	color : $color-darkgrey;
	cursor : pointer;
	text-transform: capitalize;
}

textarea,
select {
	display : inline-block;
	vertical-align: middle;
	width : 100%;
	padding : 11px;
	margin-bottom : 0;
	background-color : $inputbackground;
	border : $inputborderwidth $inputborderstyle $inputborder;
	color : $textcolor;
	appearance: none;
	font-size: fs(normal);

	&:hover {
		border-color : $inputhover;
	}
}


$typesOfInputs : text password email tel number datetime-local search;

@each $currentInput in $typesOfInputs {
	input[type="#{$currentInput}"] {
		background-color: $inputbackground;
		border: none;
		border: 1px solid $inputborder;
		height: 3rem;
		width: 100%;
		box-shadow: none;
		transition: box-shadow .3s, border .3s;
		line-height: 1.15;
		outline: none;
		font-size: fs(normal);
		padding-left: $padding / 2;
		&:focus {
			border-bottom: 1px solid $color-black;
		}

		&.input-medium {
			width: 150px
		}
		&.input-big {
			width : 300px;
		}
	}
}


// Some fields width variations, add as many as you want or modify them.



input[type="image"] {
	width : auto;
	height : auto;
	padding : 0;
	margin : 3px 0;
	line-height : normal;
	cursor : pointer;
}

input[type="checkbox"],
input[type="radio"] {
	width : $gutterwidth / 2;
	height : $gutterwidth / 2;
	padding : 0;
	margin :0 3px 0 0;
	line-height : normal;
	cursor : pointer;
	background-color: $color-white;
	&:checked {
		background-color: $inputborder;
		border-color: $color-white;
		border-width: 1px;
		box-shadow: 0 0 0 1px $inputborder;
	}
}
::-webkit-input-placeholder { /* Chrome */
	color: $color-lightgrey;
  }
  :-ms-input-placeholder { /* IE 10+ */
	color: $color-lightgrey;
  }
  ::-moz-placeholder { /* Firefox 19+ */
	color: $color-lightgrey;
	opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
	color: $color-lightgrey;
	opacity: 1;
  }




input[type="radio"] {
	border-radius: 100%;
}

	label {
		input[type="checkbox"],
		input[type="radio"]  {
			margin-right: $gutterwidth / 4;
		}
	}

input[type="image"] {
	border : 0;
	@include box-shadow(none);
}

input[type="file"] {
	width : auto;
	padding : initial;
	line-height : initial;
	border : initial;
	background-color : transparent;
	background-color : initial;
	@include box-shadow(none);
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
	width : auto;
	height : auto;
	cursor : pointer;
	*overflow : visible;
}


textarea {
	@include resize(vertical);
	height : auto;
	overflow : auto;
	vertical-align : top;
}

input[type="hidden"] {
	display : none;
}

input[type=submit]{
	-webkit-appearance: button;
  }

// disabled

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	@include opacity(.5);
	cursor : not-allowed;
}


.formgroup {
	display: flex;
	margin-bottom: $padding;
	width: 100%;
	align-items: stretch;
	input[type="submit"], [class^="btn"], [class*=" btn-"], .iconholder {
		flex: 1;
		border-top-left-radius: 0;
		border-top-right-radius: $radius;
		border-bottom-right-radius: $radius;
		border-bottom-left-radius: 0;
		height: auto;
		line-height: 2.8;
		border: 0;
		border-bottom: 1px solid $inputborder;
		border-right: 1px solid $inputborder;
		border-top: 1px solid $inputborder;
		border-left: 1px solid $color-lightgrey;
		background-color: $color-lightergrey;
		color: $color-brand;
		padding-left: $gutterwidth / 2;
		padding-right: $gutterwidth / 2;
		min-width: 4em;
	}
	input[type="password"], input[type="text"] {
		width: 100%;
		border-top-left-radius: $radius;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: $radius;
		border-right: none;
		&:focus {
			border-left :1px solid $inputfocus;
			border-bottom :1px solid $inputfocus;
			border-top :1px solid $inputfocus;
			border-right: 0;
			+ {
				input[type="submit"], [class^="btn"], [class*=" btn-"] {
					border-right :1px solid $inputfocus;
					border-bottom :1px solid $inputfocus;
					border-top :1px solid $inputfocus;
					outline: none;
				}
			}
		}
	}
}





.checkbox {
	display: flex;
	align-items: center;
	position: relative;
	padding: $padding / 2;
	input[type="checkbox"],
	input[type="radio"] {
		width : 20px;
		min-width : 20px;
		height : 20px;
		min-height : 20px;
		padding : 0;
		margin :0 ($gutterwidth / 3) 0 0;
		line-height : normal;
		border: 1px solid $color-brand;
		border-radius: 0;
		cursor : pointer;
		background-color: $color-white;
		transition: all $hovertransition ease-in;
		box-shadow: inset 0 0 0 0 darken($color-success, 20);
		 -webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		&:checked {
			background-color: $color-brand;
			border-color: $color-white;
			border-width: 1px;
			box-shadow: 0 0 0 1px $color-brand;
			+ .checkbox__label {
				color: $color-black;
				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;

					border-radius: $radius;
					box-shadow: inset 0 0 100px rgba(100, 100, 100, 0.1);
				}
			}

		}
		&:focus {
			box-shadow: 0 0 1px 1px $color-grey;
			outline:0px;
		}
	}
	input[type="radio"] {
		border-radius: 100%;
	}
}

	.checkbox__label {
		font-size: fs(normal);
		color:$color-grey;
		font-weight: 300;
	}




meter {
	/* Reset the default appearance */

	appearance: none;
	transition: all .1s ease-in-out;
	margin: 0;
	width: 100%;
	height: 2px;
	display: none;

	/* Applicable only to Firefox */
	background: none;
	background-color: rgba(0, 0, 0, 0.1);
  }

  meter::-webkit-meter-bar {
	background: none;
	background-color: rgba(0, 0, 0, 0.1);
  }
.meter-icon {
	color: $color-white;
	padding: 0 .5em;
	display: flex;
	align-items: center;
	svg {
		width: 24px;
		height: 24px
	}
}
  /* Webkit based browsers */
meter[value="1"], meter[value="0"] {
	 color: $color-error;
	 background-color: $color-error;
	 width: 25%;
	 + .meter-icon {
		 background-color: $alerterrorcolor;
		 color: $color-error;
	 }
	}
meter[value="2"] {
	color: $alertwarningcolor;
	background-color: $alertwarningtext;
	width: 50%;
	+ .meter-icon {
		background-color: $alertwarningcolor;
		color: $alertwarningtext;
	}
}
meter[value="3"] {
	color: $color-info;
	background-color: $alertinfocolor;
	width: 75%;
	+ .meter-icon {
		background-color: $alertinfocolor;
		color: $color-info;
	}
}
meter[value="4"] {
	background-color: $alertsuccesscolor;
	color: $color-success;
	width: 100%;
	+ .meter-icon {
		background-color: $alertsuccesscolor;
		color: $color-success;
	}
}

