@if $include-tables == true{





/*------------------------------------*\
    $TABLAS
\*------------------------------------*/

table {
	width : 100%;
	max-width : 100%;
	margin-bottom : $baselineheight;
	border-collapse : collapse;
	border-spacing : 0;
	background-color : $tablebackground;
	border-radius: $radius * 2;
	border-top : ($tableborderwidth * 2) $tableborderstyle darken($color-brand, 10);

	th,
	td {
		padding : 8px;
		vertical-align : top;
		border-top: $tableborderstyle  $tableborderwidth $tableborder;
		font-size: fs(small);
		line-height : $baselineheight;
		text-align : left;
	}

	thead {
		background-color: $color-brand;
		th {
			vertical-align : bottom;
			color: $color-white;
			font-size: fs(normal);
			font-weight: normal;
		}
	}

	colgroup + thead tr:first-child th,
	colgroup + thead tr:first-child td,
	thead:first-child tr:first-child th,
	thead:first-child tr:first-child td {
		border-top : 0;
	}

	tbody + tbody {
		border-top : $tableborderwidth * 2 $tableborderstyle $tableborder;
	}

	tbody tr td,
	tbody tr th {
		@include transition(background-color .25s 0 linear);
	}

	tbody tr:hover td,
	tbody tr:hover th {
		background-color : $tablehover;
	}
}

// CONDENSED ====================================================

.table-condensed {

th,
td {
	padding : 4px 5px; }
}

// BORDERED ====================================================

.table-bordered {
	border : $tableborderwidth $tableborderstyle $tableborder;
	border-left : 0;
	border-collapse : separate;
	*border-collapse : collapsed;

	th,
	td {
		border-left : $tableborderwidth $tableborderstyle $tableborder;
	}

	thead:first-child tr:first-child th,
	tbody:first-child tr:first-child th,
	tbody:first-child tr:first-child td {
		border-top : 0;
	}
}

// STRIPED ====================================================

.table-striped {

	tbody tr:nth-child(odd) td,
	tbody tr:nth-child(odd) th {
		background-color : $tablestripe;
	}
}

} // endif