




/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/


// HEADINGS ====================================================

h1,
h2,
h3,
h4,
h5,
h6 {
	margin : 0;
	font-family : $baseheadingfont;
	font-weight : $baseheadingfontweight;
	color : $baseheadingfontcolor;
	text-rendering : optimizelegibility;
		&.altheader {
			color:$color-grey;
			text-transform: uppercase;
            display: block;
		}
}


// Set headers line-height, margin bottom and font size
h1, .h1 {

	font-size: 42px;
	line-height: 1.5;
	@include respond-to(medium) {
		font-size: 64px;

	}
}
h2, .h2 {

	font-size: 24px;
	line-height: 1.5;
	@include respond-to(medium) {
		font-size: 48px;

	}
}
// TYPOGRAFÍA ====================================================

p,
ol,
ul,
dl,
address {
	margin-bottom : $baselineheight;
	line-height : $baselineheight;
}

small {
	font-size: fs(small);
	color: $color-grey;
	line-height: 1;
}

ul,
ol {
	margin : 0 0 $baselineheight 0;
	padding : 0 0 0 $gutterwidth;
}

li ul,
li ol {
	margin : 0;
}

// blockquote

blockquote  {
	margin : 0 0 $baselineheight 0;
	padding-left : $gutterwidth;
	border-left : 2px solid $color-border;
	font-family : $altfont;
	font-style : normal;
	p {
		font-size: fs(small);
		color:$color-grey;
		font-style: italic;
        line-height: 1.5;
	}
}

q {
	quotes : none;
	font-style: italic;
}

blockquote p::before,
blockquote p::after,
q:before,
q:after {
	content : "";
}

cite {
	font-style : normal;
}

// definition lists

dl,
dd {
	margin-bottom : $baselineheight;
}

dt {
	font-weight : bold;
}

.dl-horizontal {
    display: flex;
	flex-wrap: wrap;
	&:hover {
	}
    dt {
        width: 50%;
        border-bottom: 1px solid $color-lightergrey;
        line-height: 2;
        font-size: fs(normal);
		padding:0 ($gutterwidth / 2);
		font-weight: normal;
		color: $color-lightgrey;
    }

    dd {
        width: 50%;
        text-align: right;
        border-bottom: 1px solid $color-lightergrey;
        margin-bottom: 0;
        line-height: 2;
        padding:0 ($gutterwidth / 2);
		font-size: fs(normal);
		color: $color-grey;
    }
    &.dl-horizontal--pushright {
        dd {
            text-align: right;
        }
    }
}

// text-level

abbr[title] {
	border-bottom : 1px dotted $color-border;
	cursor : help;
}

b, strong {
	font-weight : bold;
}

dfn {
	font-style : italic;
}

ins {
	background-color : lighten($color-brand, 75%);
	color : $textcolor;
	text-decoration : none;
}

mark {
	background-color : yellow;
	color : $textcolor;
}

pre,
code,
kbd,
samp {
	font-family : $codefont;
	font-size: fs(small);
	line-height : $baselineheight;
}
code {
    background-color: #f5f2f0;
    padding: 0.1em 0.3em;
    border-radius: $radius;
}
pre {
	white-space : pre;
	white-space : pre-wrap;
	word-wrap : break-word;
}

sub,
sup {
	position : relative;
	font-size: fs(x-small);
	line-height : 0;
	vertical-align : $baselineheight;
}

sup {
	top : -.5em;
}

sub {
	bottom : -.25em;
}


hr {
  clear : both;
  display : block;
  width: 30%;
  margin : $baselineheight auto;
  padding : 0;
  height : 2px;
  border : 0;
  border-top : 2px solid $color-border;
}
	.hr--light {
		width: 100%;
		border-top : 1px solid $color-grey;

	}

// Especificidades de fuentes

.intro {
    font-weight: bold;
}

/*
 * Creamos clases para cada uno de los tamaños de fuentes. Se pueden ver en Settings.
 * Son los nombres de las varables con el prefijo font-
 * Por ejemplo:

        .font-x-small {
            font-size: .8rem;
        }


 */

@each $name, $value in $size-vars {
  .font-#{$name} {
    font-size: $value * 1rem;
  }
}


