/*------------------------------------*\
    $FUNCIONES
\*------------------------------------*/




/*
 * Función para controlar el index

 	.selector { z-index: z(goku);}

 * compila:

	.selector { z-index: 9001;}

 * Puedes ver las variables en el MAP en settings.scss
 */

@function z($layer) {
  @return map-get($z-layers, $layer);
}


/*
 * Función para mantener el tamaño de fuente consistente

 .selector { font-size: fs(x-small);}

 * Puedes ver en settings.scss las variables que se utilizan.
 */

@function fs($font-size) {
  @return map-get($size-vars, $font-size) * 1rem;
}
