/*------------------------------------*\
    $SETTINGS
\*------------------------------------*/
/**
 *
 * Define all variables and values to use
 *
 */





 /*------------------------------------*\
    $INCLUDED-COMPONENTS
\*------------------------------------*/
/**
 * We can tell the components to use here, `true` for used, `false` unused.
 * Remember you can overwrite this value anywhere else by removing the `!default` property
 */

 // Base components: Usually we include all of this, except in small sites where,
 // let's say, tables.scss won't be used.
 $include-grid:                     true!default;
 $include-debug:                    false!default;
 $include-buttons:                  true!default;
 $include-images:                   true!default;
 $include-utilities:                true!default;
 $include-tables:                   true!default;
 $include-textures:                 true!default;
 $include-tabs:                     true!default;
 $include-collapse:                 true!default;
 $include-modals:                   true!default;





 // Components used and created for the current project (or for many projects)
$include-grids:                   	true!default;
$include-utilities:                 true!default;




// Partials used to create layout: headers, footers, articles, etc...
$include-site:                   	true!default;
$include-textures:   	            true!default;





/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/**
 * "Start with the small screen first, then expand until it looks like shit. Time to insert a breakpoint!"
 * Used with mixin `respond-to($breakpoint)`:

.div {
  color: pink;
  @include respond-to(medium) {
    color: maroon;
  }
}
 *
 */

$breakpoints: (
  'small': 			56.25em,
  'medium': 		75em,
  'large': 			68.75em,
) !default;





/*------------------------------------*\
    $Z-INDEX
\*------------------------------------*/
/**
 * We can have control over z-index and not ending up having 900 to infinite.
 * To use this values, we use the `z($layers)` function:
 .element {
  z-index: z(goku);
 }
 *
 */

$z-layers: (
  "modal":           9000,
  "over":             900,
  "default":            1,
  "below":             -1,
  "bottomless-pit": -9000
);





/*------------------------------------*\
    $DIR
\*------------------------------------*/
/**
 * Sometimes we change image dir from develop to production:
 */
$image-dir: "../img";

 //Use: background-image:url("#{$image-dir}/btn.jpg");

 /*
  * In case we use local fonts (I use them fewer and fewer lately)
  */

$font-dir: "../fonts";






/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/**
 * Constant layout values, apart from these we can also declare values
 * for different blocks sizes and more.
 */

$gutterwidth:        24px;
$padding:            $gutterwidth;
$minigutter:         $gutterwidth / 2;
$baselineheight:     $gutterwidth;
$pagemaxwidth:       1024px;
$radius:             2px;
$hovertransition:    .1s;
$animationtime:      .8s;




/*------------------------------------*\
    $GRID
\*------------------------------------*/
/**
 * These are the variables we use for our Grid
 */
$gap : $minigutter;
$grid-size: 12;




/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/
/**
 * Fonts definitions
 */
$basefont : 'Open Sans', sans-serif;
$altfont : $basefont;
$codefont : "Courier New", monospace;
$baseheadingfont : $basefont;

$baseheadingfontweight : 700;
$baseheadingfontcolor : inherit;



/*
 * Font Size variables are defined in a Scss MAP, this MAP will create
 * a class (in `utilities.scss`) for every size with the value in REM units, you can check
 * `utilities.scss` if you need to change the loop:

  .x-small { font-size: .8rem}

 * We also have a function to assign font sizes, call `fs`:

    .selector { font-size: fs(x-small);}

 *
 */
$size-vars: (

  "x-small"  :    .6,
  "small"    :    .8,
  "normal"   :    1,
  "big"      :    1.12,
  "big-x"      :  1.5,
  "huge"     :    2,
  "huge-x"     :  3
);




/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/**
 * Brand colors
 */
    $color-brand:          #007EE5;
    $color-secondary:      #DACC3E;
    $color-cta:             $color-brand;
    $color-airportBadge:    $color-brand;





    /**
    * Grey Scale
    * This is mainly to hold back designers from adding 200 different greys ;)
    */
    $color-black:                rgb(0,0,0);
    $color-darkergrey:             lighten(black, 10%);
    $color-darkgrey:               lighten(black, 20%);
    $color-grey:                   lighten(black, 30%);
    $color-lightgrey:              lighten(black, 75%);
    $color-lightergrey:            lighten(black, 95%);
    $color-white:                  rgb(255,255,255);

    /**
    * Colors Map
    * We may also need a map with all these colors, to create classes.
	*/
	$colors-map: (
		color-brand:          			$color-brand,
		color-secondary:      			$color-secondary,
		color-black:                	$color-black,
		color-darkergrey:             	$color-darkergrey,
		color-darkgrey:               $color-darkgrey,
		color-grey:                   	$color-grey,
		color-lightgrey:              	$color-lightgrey,
		color-lightergrey:            	$color-lightergrey,
		color-white:                  $color-white
	);


// Atmosphere
$background: 		$color-white;
$headingcolor:      lighten(black, 20%);
$textcolor: 		lighten(black, 30%);
$color-border    :   $color-lightergrey;





// Links  //////////////////////
$linkcolor 		    : $color-brand;
$linkcolorhover 	: $linkcolor;
$linkcolorvisited   : $linkcolor;
$linkcolorfocus 	: $linkcolor;






/*------------------------------------*\
    $TEXTURAS
\*------------------------------------*/
/**
 * Definimos Colores y elementos de popups, mensajes de alerta, etc...
 */
$color-alert 	: rgb(252,228,207);
$color-error 	: #D8000C;
$color-info 	: #00529B;
$color-success 	: #4F8A10;
$color-warning 	: #9F6000;


// Texturas de popups
$alertbordercolor	: darken($color-alert, 20%);
$alertborderwidth 	: 1px;
$alertborderstyle 	: solid;
$alerttext			: darken($color-alert, 60%);

// Error
$alerterrorcolor 	: lighten($color-error, 50%);
$alerterrorborder  	: lighten($color-error, 35%);
$alerterrortext 	: $color-error;

// Info
$alertinfocolor 	: #BDE5F8;
$alertinfoborder  	: darken($color-info, 10%);
$alertinfotext 		: $color-info;


// Success
$alertsuccesscolor 	: #DFF2BF;
$alertsuccessborder : lighten($color-success, 20%);
$alertsuccesstext 	: $color-success;

// Warning
$alertwarningcolor 	: lighten($color-warning, 40%);
$alertwarningborder : lighten($color-warning, 35%);
$alertwarningtext 	: $color-warning;



// badges
$badgebackground    : lighten($color-secondary, 20);
$badgecolor         : darken($color-secondary, 20);

// botones
$buttonbackground   : $color-white;
$buttonbordercolor  : $color-brand;
$buttoncolor        : $color-brand;
$buttonborderwidth  : 1px;
$buttonborderstyle  : solid;

// boxes (well)
$wellbackground     : red;
$wellbordercolor    : darken($wellbackground, 20%);
$wellborderwidth    : 1px;
$wellborderstyle    : solid;
$wellshadow         : darken($wellbackground, 10%);
$wellshadowblur     : 10px;

// tablas
$tablebackground    : $color-white;
$tablestripe        : $color-lightergrey;
$tablehover         : $color-lightergrey;
$tableborder        : $color-lightergrey;
$tableborderwidth   : 2px;
$tableborderstyle   : solid;

// formularios
$inputbackground    : $color-white;
$inputborder        : $color-lightgrey;
$inputborderwidth   : 1px;
$inputborderstyle   : solid;
$inputhover         : lighten($color-black, 50%);
$inputfocus         : $color-lightgrey;
$placeholdercolor   : $color-lightergrey;


// Navegación
$nav-width:               42px;
$nav-height:              $nav-width;
$nav-icon-size:           16px;
$nav-color:               $color-brand;
$nav-background:          $color-white;
$nav-borders:             lighten($nav-background, 10%);
$nav-lists-background:    $color-brand;
